# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        promote = !$DOTFILES/bin/git-promote
        wtf     = !$DOTFILES/bin/git-wtf
        rank-contributors = !$DOTFILES/bin/git-rank-contributors
        count   = !git shortlog -sn
        st = status
        ci = commit
        br = branch
        co = checkout
        dft = diff-tree --color=always -u
        df = diff
        dc = diff --cached
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        lolac = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
        ls = ls-files
        # Show files ignored by git:
        ign = ls-files -o -i --exclude-standard
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        whitespace = -trailing-space
[diff]
        mnemonicPrefix = true
        wordRegex = .
[fetch]
        recurseSubmodules = on-demand
[grep]
        extendedRegexp = true
[log]
        abbrevCommit = true
[merge]
        conflictStyle = diff3
[mergetool]
        keepBackup = false
        keepTemporaries = false
        prompt = false
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
[rerere]
        # If, like me, you like rerere, decomment these
        # autoupdate = true
        # enabled = true
[status]
        submoduleSummary = true